:root {
  font-family: 'Courier New', monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 0;
}
